nav {
    display: flex;
    width:100%;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
}

.menu li {
    display:inline-block;
    padding: 4px 6px;
}

.leaderboard {
    padding: 0;
    margin: 16px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score {
    display: flex;
    width: 400px;
    padding: 8px;
    margin: 2px;
    border: 1px solid black;
    align-items: center;
    border-radius: 2px;
}
.score img {
    margin: 8px 16px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    border: 1px solid black;
}

nav > .user {
padding:8px;
}